/*** src/styles.css ***/
.ap-markdown-editor .hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

.ap-markdown-editor a{
    cursor: pointer;
}

.ap-markdown-editor .textarea {
    font-family: monospace;
    height: 100%;
    width: 100%;
    border: 0;
}

.ap-markdown-editor .error {
    color: red;
}

.ap-markdown-editor .html_inline {
    color: rgb(0, 60, 255);
}

.ap-markdown-editor #slate-toolbar-wrapper-id {
    display: grid;
    grid-template-columns: 3% auto 3%;
    grid-template-rows: 100%;
}

a {
    cursor: pointer;
}