/*** src/styles.css ***/
body {
    font-family: serif;
    font-style: normal;
    font-weight: normal;
    font-size: medium;
    line-height: 100%;
    word-spacing: normal;
    letter-spacing: normal;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    text-indent: 0ex;
}

.hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

a {
    cursor: pointer;
}

.textarea {
    height: 100%;
    width: 100%;
    border: 0;
}

.error {
    color: red;
}

.html_inline {
    color: rgb(0, 60, 255);
}

#slate-toolbar-wrapper-id {
    display: grid;
    grid-template-columns: 3% auto 3%;
    grid-template-rows: 100%;
}