/*** src/styles.css ***/
body {
    font-family: serif;
    font-style: normal;
    font-weight: normal;
    font-size: medium;
    line-height: 100%;
    word-spacing: normal;
    letter-spacing: normal;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    text-indent: 0ex;
}

.textarea {
    height: 100%;
    width: 100%;
    border: 0;
}

.error {
    color: red;
}

.html_inline {
    color: rgb(0, 60, 255);
}

.variable {
    background-color: #ffeeba;
}