/*** src/styles.css ***/
body {
    font-family: serif;
    font-style: normal;
    font-weight: normal;
    font-size: medium;
    line-height: 100%;
    word-spacing: normal;
    letter-spacing: normal;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    text-indent: 0ex;
}