.format-toolbar {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-template-columns:
        auto auto auto
        auto auto auto
        auto auto auto
        auto auto auto
        auto auto auto
        auto auto;
}
.toolbar-0x0 { grid-column-start: 1; }
.toolbar-4x0 { grid-column-start: 2; }
.toolbar-0x1 { grid-column-start: 3; }
.toolbar-0x2 { grid-column-start: 4; }
.toolbar-0x3 { grid-column-start: 5; }
.toolbar-4x1 { grid-column-start: 6; }
.toolbar-1x0 { grid-column-start: 7; }
.toolbar-1x1 { grid-column-start: 8; }
.toolbar-1x2 { grid-column-start: 9; }
.toolbar-1x3 { grid-column-start: 10; }
.toolbar-4x2 { grid-column-start: 11; }
.toolbar-2x0 { grid-column-start: 12; }
.toolbar-2x1 { grid-column-start: 13; }
.toolbar-4x3 { grid-column-start: 14; }
.toolbar-2x2 { grid-column-start: 15; }
.toolbar-2x3 { grid-column-start: 16; }
.toolbar-2x4 { grid-column-start: 17; }

@media (max-width: 1150px) {
    .format-toolbar {
        width: 250px !important;
        grid-template-columns:
            auto auto auto
            auto auto auto
            auto auto auto;
        grid-template-rows:
            50% 50%;
    }
    .toolbar-0x0 { grid-row-start: 1; }
    .toolbar-4x0 { grid-column-start: 3; grid-row-start: 1; }
    .toolbar-0x1 { grid-column-start: 4; grid-row-start: 1; }
    .toolbar-0x2 { grid-column-start: 5; grid-row-start: 1; }
    .toolbar-0x3 { grid-column-start: 6; grid-row-start: 1; }
    .toolbar-4x1 { grid-column-start: 7; grid-row-start: 1; margin: 0 5px; }
    .toolbar-1x0 { grid-column-start: 8; grid-row-start: 1; }
    .toolbar-1x1 { grid-column-start: 9; grid-row-start: 1; }
    .toolbar-1x2 { grid-column-start: 1; grid-row-start: 2; }
    .toolbar-1x3 { grid-column-start: 2; grid-row-start: 2; }
    .toolbar-4x2 { grid-column-start: 3; grid-row-start: 2; margin: 0 5px; }
    .toolbar-2x0 { grid-column-start: 4; grid-row-start: 2; }
    .toolbar-2x1 { grid-column-start: 5; grid-row-start: 2; }
    .toolbar-4x3 { grid-column-start: 6; grid-row-start: 2; }
    .toolbar-2x2 { grid-column-start: 7; grid-row-start: 2; }
    .toolbar-2x3 { grid-column-start: 8; grid-row-start: 2; }
    .toolbar-2x4 { grid-column-start: 9; grid-row-start: 2; }
}